<section id="posts" class="posts-collapse" hidden>
  <span class="archive-move-on"></span>

  <main id="main" class="main">
    <div class="main-inner">
      <div class="content-wrap">
        <div id="content" class="content">
          {{ content }}
        </div>
        {% include _third-party/duoshuo-hot-articles.html %}
        {% include _partials/comments.html %}
      </div>
      {% if site.sidebar.display != 'remove' %}
        {{ sidebar }}
      {% endif %}
    </div>
  </main>

</section>

<nav class="pagination"></nav>
